<div class="row">
  <div class="col-md-4">
    <div class="card card-block h-100 p-3">
      <%= link_to admin_settings_general_path, class: "link text-dark" do %>
        <p class="m-0 text-primary">General</p>
        <p class="m-0 font-size-xs">View and update your site details</p>
      <% end %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-block h-100 p-3">
      <%= link_to admin_settings_legal_path, class: "link text-dark" do %>
        <p class="m-0 text-primary">Legal</p>
        <p class="m-0 font-size-xs">Manage your business's legal information</p>
      <% end %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-block h-100 p-3">
      <%= link_to admin_settings_shipping_path, class: "link text-dark" do %>
        <p class="m-0 text-primary">Shipping</p>
        <p class="m-0 font-size-xs">Manage how your prices are calculated</p>
      <% end %>
    </div>
  </div>
</div>

<div class="row mt-4 pb-5 pb-sm-0">
  <div class="col-md-4">
    <div class="card card-block h-100 p-3">
      <%= link_to admin_settings_rates_path, class: "link text-dark" do %>
        <p class="m-0 text-primary">Rates</p>
        <p class="m-0 font-size-xs">Manage gst, duty, service charge, etc</p>
      <% end %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-block h-100 p-3">
      <%= link_to admin_settings_account_path, class: "link text-dark" do %>
        <p class="m-0 text-primary">Account</p>
        <p class="m-0 font-size-xs">Manage your staff accounts</p>
      <% end %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-block h-100 p-3">
      <%= link_to admin_settings_banking_path, class: "link text-dark" do %>
        <p class="m-0 text-primary">Banking Settings</p>
        <p class="m-0 font-size-xs">Manage your bank accounts</p>
      <% end %>
    </div>
  </div>
</div>

<div class="row mt-4 pb-5 pb-sm-0">
  <div class="col-md-4">
    <div class="card card-block h-100 p-3">
      <%= link_to admin_settings_slides_path, class: "link text-dark" do %>
        <p class="m-0 text-primary">Slider</p>
        <p class="m-0 font-size-xs">Manage your landing page slides</p>
      <% end %>
    </div>
  </div>
</div>
