<%= content_for(:page_title, 'Edit Listing') %>
<div class="row">
  <div class="col-md-7 mx-auto">
    <div class="card p-4 mb-5">
      <div class="title title-md mb-4">Edit Listing</div>
      <%= simple_form_for [:admin, @listing], validate: true do |f| %>
        <%= f.input :title %>
        <%= f.input :price %>
        <% if @listing.shipping_rate.present? %>
          <% if @listing.shipping_rate.type === 'WeightShippingRate' %>
            <%= f.association :shipping_rate, collection: WeightShippingRate.all, include_blank: false %>
          <% else %>
            <%= f.association :shipping_rate, collection: PriceShippingRate.all, include_blank: false %>
          <% end %>
        <% else %>
          <% if ShippingSetting.rate_method === 'weight' %>
            <%= f.association :shipping_rate, collection: WeightShippingRate.all, include_blank: false %>
          <% elsif ShippingSetting.rate_method === 'price'  %>
            <%= f.association :shipping_rate, collection: PriceShippingRate.all, include_blank: false %>
          <% end %>
        <% end %>
        <%= f.input :description %>
        <%= f.input :requirements, hint: 'Information required from users upon ordering (size, color, etc)' %>
        <%= f.input :link %>
        <% if @listing.images.any? %>
          <div class="row">
            <% @listing.images.each do |image| %>
              <div class="col-md-3 text-center">
                <%= link_to admin_image_path(image.id, listing_id: @listing.slug),
                  method: :delete, data: { confirm: 'Do you really want to delete this image?' },  class: "link link-danger" do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
                <%= image_tag image.image_url(:thumb), class: "my-3" %>
              </div>
            <% end %>
          </div>
        <% end %>
        <%= f.input :images, as: :file, label: "Upload images", input_html: {multiple: true} %>
        <%= f.button :submit, class: "btn btn-primary btn-md px-5 my-3" %>
      <% end %>
    </div>
  </div>
</div>
