<%= content_for(:page_title, 'Catalog') %>
<div class="mb-5">
  <div class="row mb-4">
    <div class="col-md-8">
      <div class="title title-md">Slides</div>
    </div>
    <div class="col-md-4 text-sm-right">
      <%= link_to "New Slide", new_admin_settings_slide_path, class: "btn btn-md btn-success px-4"%>
    </div>
  </div>
  <div class="custom-card rounded p-4 mb-4">
    <div class="row">
      <div class="col">
        <table class="table table-striped table-responsive-sm" id="listings_table">
          <thead class="title-light">
            <tr>
              <th scope="col"></th>
              <th scope="col">Main Title</th>
              <th scope="col">Sub Title</th>
              <th scope="col">Manage</th>
            </tr>
          </thead>
          <tbody>
            <% @slides.each do |slide| %>
              <tr>
                <td>
                  <%= image_tag slide.image.image_url(:medium), style: "width: 100px" %>
                </td>
                <td>
                  <%= slide.main_title %>
                </td>
                <td>
                  <%= slide.sub_title %>
                </td>
                <td>
                  <%= link_to edit_admin_settings_slide_path(slide), class: "link link-secondary ml-2 mr-3" do %>
                    <i class="far fa-edit"></i>
                  <% end %>
                  <%= link_to admin_settings_slide_path(slide), class: "link link-secondary", method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
