<%= content_for(:page_title, 'New Schedule') %>
<div class="row">
  <div class="col-md-7 mx-auto">
    <div class="card p-4">
      <div class="title title-md mb-4">New Schedule</div>
      <%= simple_form_for [:admin, @schedule], validate: true do |f| %>
        <%= f.input :departure %>
        <%= f.input :arrival %>
        <%= f.button :submit, class: "btn btn-primary btn-md px-5 my-3" %>
      <% end %>
    </div>
  </div>
</div>
